&__title {
    margin: 0;
    padding: 0;

    font-family: Raleway, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;

    color: $white;

    text-transform: uppercase;

    letter-spacing: 1px;

    transform: translateY(40px);

    opacity: 0;

    transition: 0.3s ease-in-out;
}