.portfolio {
    width: 100%;

    background-color: #fff;

    padding: 60px 0;

    @import "./__header/__header";
    @import "./__container/__container";
    @import "./__description/__description";
    @import "./__list/__list";
    @import "./__item/__item";
}