doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Frontend Developer
    body
        include ../../components/preloader/preloader
        include ../../components/home/home
        include ../../components/header/header
        +header({
            list: [
                {
                    title: "Приветствие",
                    anchor: "home"
                },
                {
                    title: "О себе",
                    anchor: "about"
                },
                {
                    title: "Портфолио",
                    anchor: "portfolio"
                },
                {
                    title: "Навыки",
                    anchor: "skills"
                },
                {
                    title: "Напиши мне",
                    anchor: "contact"
                }
            ]
        })
        include ../../components/about-me/about-me
        +about-me({
            title: "О себе",
            advantages: [
                {
                    title: "Пунктуальность",
                    description: "Я не люблю опаздывать и очень сильно стараюсь сделать все в срок. ",
                    url: "./assets/img/watch.svg"
                },
                {
                    title: "Целеустремленность",
                    description: "Я всегда иду к своей цели, как бы трудно не было, решение всегда есть. ",
                    url: "./assets/img/target.svg"
                },
                {
                    title: "Обучаемость",
                    description: "Мне нравится учиться, перенимать опыт у людей умнее и лучше меня.",
                    url: "./assets/img/learn.svg"
                },
                {
                    title: "Аккуратность",
                    description: "Я стараюсь всегда узнать задачу в деталях, чтобы ни одну деталь не упустить.",
                    url: "./assets/img/accuracy.svg"
                },
            ]
        })
        include ../../components/portfolio-card/portfolio-card
        include ../../components/portfolio/portfolio
        +portfolio({
            title: "Мое портфолио",
            cards: [
                {
                    title: "Toxin",
                    description: "Сайт по поиску номеров",
                    url: "./assets/img/toxin.jpg",
                    href: "#"
                },
                {
                    title: "Toxin",
                    description: "Сайт по поиску номеров",
                    url: "./assets/img/toxin.jpg",
                    href: "#"
                },
                {
                    title: "Toxin",
                    description: "Сайт по поиску номеров",
                    url: "./assets/img/toxin.jpg",
                    href: "#"
                },

                {
                    title: "Toxin",
                    description: "Сайт по поиску номеров",
                    url: "./assets/img/toxin.jpg",
                    href: "#"
                },

                {
                    title: "Toxin",
                    description: "Сайт по поиску номеров",
                    url: "./assets/img/toxin.jpg",
                    href: "#"
                },

                {
                    title: "Toxin",
                    description: "Сайт по поиску номеров",
                    url: "./assets/img/toxin.jpg",
                    href: "#"
                },
            ]
        })