&__link {
    display: block;
}

&__link:hover &__description-container {
    background-color: rgba(0, 0, 0, 0.4);

    transition: 0.3s ease-in-out;
}

&__link:hover &__description {
    transform: translateY(90px);

    opacity: 1;
    visibility: visible;

    transition: 0.3s ease-in-out;
}

&__link:hover &__title {
    transform: translateY(60px);

    opacity: 1;

    transition: 0.3s ease-in-out;
}

&__link:hover &__description-container:after, 
&__link:hover &__description-container:before {
    
    transform: scale(1);
    opacity: 1;
    transition: 0.3s ease-in-out;
}