.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 5;

    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    @import "./_loaded/_loaded";
}