section.home#home
    .home__overlay
    .home__content
        p.home__subtitle Привет! Меня зовут Тимофей, и Я
        h1.home__main-title Frontend Web Developer
        p.home__subtitle Создаю современные и отзывчивые Web-приложения
    button.home__button-down