body {
    margin: 0;
    padding: 0;

    overflow: hidden;
}

@import "./fonts.scss";
@import "./vars.scss";

@import "../components/home/home";
@import "../components/header/header";
@import "../components/section-title/section-title";
@import "../components/preloader/preloader";
@import "../components/about-me/about-me";
@import "../components/advantage/advantage";